div.tabs ul {
  list-style: none;
  cursor: pointer;
  width: 100%;
  margin: 0;
  padding: 0;
}

div.tabs li.trigger {
  /* float: left; */
  width: 29.33%;
  margin: 1%;
  padding: 2%;
  box-sizing: border-box;
  text-align: center;
  left: -30px;
  position: relative;
  background: #f2f2f2;
  border-radius: 6px;
  display: inline-block;
}

div.tabs div {
  /* float: left; */
  width: 29%;
  margin: 0.5%;
  padding: 1%;
  display: inline-block;
  left: -30px;
  position: relative;
}

ul li.trigger.active {
  background: #ff6565;
  color: #fff;
}

div.tabs div.content {
  visibility: hidden;
  background: #fbfbfb;
  border-radius: 6px;
}
div.tabs .content.active {
  visibility: visible;
}
