div.tabs ul {
  list-style: none;
  cursor: pointer;
  width: 100%;
  margin: 0;
}

div.tabs li {
  float: left;
  width: 29.33%;
  margin: 1%;
  padding: 1%;
  box-sizing: border-box;
  text-align: center;
  left: -30px;
  position: relative;
}

div.tabs div {
  float: left;
  max-width: 29%;
  margin: 1%;
  padding: 1%;
}

ul li.trigger.active {
  background: rgb(51, 95, 51);
  color: #fff;
  border-radius: 12px;
}

div.tabs div.content {
  visibility: hidden;
}
div.tabs div.active {
  visibility: visible;
}
